---
import { getEntry } from 'astro:content';
import { defaultLocale, useTranslations, type LanguageKey } from '@/i18n/i18n.ts';
import { getRelativeLocaleUrl } from 'astro:i18n';
import DOMPurify from 'isomorphic-dompurify';

const config = await getEntry('config', 'site');
const { website } = config!.data;
const t = useTranslations(Astro.currentLocale as LanguageKey);
---

<footer class="print:hidden container mx-auto px-4 py-8">
  <div class="flex flex-wrap justify-between mb-8">
    <h2 class="text-3xl md:text-5xl mb-8">
      <span class="font-bold">{t('Footer-1')}</span>
      <span class="text-primary-700">
        <br />
        <span set:html={DOMPurify.sanitize(t('Footer-Contact', { emailBtn: '<button class="cursor-pointer highlight relative" data-mail-btn="' + website.email + '">Email<span data-mail-popover class="absolute left-1/2 -translate-x-1/2 top-full mt-1 text-base tracking-wide whitespace-nowrap hidden bg-primary-100 text-primary-800 px-2 py-1 rounded">' + t('Footer-7') + '</span></button>', resumeLink: '<a class="highlight" href="' + getRelativeLocaleUrl(Astro.currentLocale || defaultLocale, '/resume') + '">' + t('Footer-Resume') + '</a>' }))} />
      </span>
    </h2>

    <div>
      <h3 class="text-lg font-medium mb-4 sr-only lg:not-sr-only">{t('Footer-6')}</h3>
      <ul>
        {
          website.socials.map((social) => (
            <li>
              <a
                class="hover:bg-primary-100 rounded-full transition-colors p-4 ml-0 lg:-ml-4 inline-block"
                href={social.url}
                target="_blank"
              >
                {social.name}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
  <div class="flex justify-between">
    <p class="opacity-80" set:html={DOMPurify.sanitize(website.copyright)} />
    <span>{ website.emojiStatus }</span>
  </div>
</footer>

<script is:inline>
  document.addEventListener('click', (e) => {
    const btn = e.target.closest('[data-mail-btn]');
    if (!btn) return;
    navigator.clipboard.writeText(btn.dataset.mailBtn);

    const popover = btn.querySelector('[data-mail-popover]');
    /* eslint-disable no-param-reassign */
    btn.disabled = true;
    popover.classList.remove('hidden');
    setTimeout(() => {
      popover.classList.add('hidden');
      btn.disabled = false;
    }, 1000);
    /* eslint-enable no-param-reassign */
  });
</script>
