---
import Base from '@/layouts/Base.astro';
import Banner from '@/components/Banner.astro';
import { languages, useTranslations, type LanguageKey } from '@/i18n/i18n.ts';
import { defaultLocale } from '@/i18n/i18n.ts';
import { getRelativeLocaleUrl } from 'astro:i18n';

const t = useTranslations(Astro.currentLocale as LanguageKey);

export function getStaticPaths() {
  return Object.keys(languages).map((language) => ({
    params: { language },
  }));
}
---

<Base title={t('Navbar-1')}>
  <main class="md:min-h-screen min-h-auto">
    <Banner>
      <h1 class="text-3xl md:text-6xl font-semibold px-4">
        {t('Hero-Greeting')}<br/>
        <Fragment set:html={t('Hero-Intro', {
          appsLink: `<a class="highlight" href="${getRelativeLocaleUrl(Astro.currentLocale || defaultLocale, '/work')}">${t('Hero-Apps')}</a>`
        })} />
        
        <Fragment set:html={t('Hero-CTA', {
          articlesLink: `<a class="highlight" href="https://www.webdong.dev/${Astro.currentLocale}">${t('Hero-BlogLink')}</a>`,
          resumeLink: `<a class="highlight" href="${getRelativeLocaleUrl(Astro.currentLocale || defaultLocale, '/resume')}">${t('Hero-Resume')}</a>`
        })} />
      </h1>
    </Banner>

    <section class="mb-16">
      <h2 class="sr-only">{t('NewestWork-1')}</h2>
      <div style="background-color: black;" class="aspect-video flex justify-center mx-4 rounded-lg">
        <video class="w-full h-full" width="720" height="540" autoplay loop muted playsinline poster="https://bucket-wei.webdong.dev/hero-blur.webp">
          <source src="https://bucket-wei.webdong.dev/hero.webm" type="video/webm" />
          <source src="https://bucket-wei.webdong.dev/hero.mp4" type="video/mp4" />
        </video>
      </div>
    </section>
  </main>
</Base>
