---
import Base from '@/layouts/Base.astro';
import { Icon } from 'astro-icon/components';
import { languages, useTranslations, type LanguageKey } from '@/i18n/i18n.ts';
import { getEntry } from 'astro:content';
import Tabs from '@/components/Tabs.astro';
import ModernResume from '@/components/resume/ModernResume.astro';
import TraditionalResume from '@/components/resume/TraditionalResume.astro';

const currentLocale = Astro.currentLocale as LanguageKey;
const t = useTranslations(currentLocale as LanguageKey);
const resume = (await getEntry('resume', currentLocale))?.data;
if (!resume) throw new Error('Resume Data is not found')

export function getStaticPaths() {
  return Object.keys(languages).map((language) => ({
    params: { language },
  }));
}
---
<Base title={t('Resume-1')}>
<div style="padding-top: var(--navbar-height)" class='pb-16 flex flex-col gap-8 md:gap-12'>

  <Tabs
    defaultTabId="modern"
    tabKey='resume'
    rootClass="sticky z-10 container mx-auto flex justify-center px-4 md:px-0 print:hidden"
    style="top: 1rem"
    hiddenPanelClasses={['hidden', 'print:hidden']}
    tabs={[
      { id: 'modern', label: t('Modern'), panelId: 'resume-modern' },
      { id: 'traditional', label: t('Traditional'), panelId: 'resume-traditional' },
    ]}
  />

  <!-- Resume Containers -->
  <div>
    <div id="resume-modern" class="resume-content">
      <ModernResume {resume} />
    </div>
    
    <div id="resume-traditional" class="resume-content hidden print:hidden">
      <TraditionalResume {resume} />
    </div>
  </div>

  <button type="button" onclick="window.print()" class="cursor-pointer print:hidden flex border rounded-full transition-colors md:p-8 p-4 flex-wrap justify-center items-center gap-4 hover:bg-primary-800 hover:text-white mx-auto">
    <Icon size={48} name="material-symbols:sim-card-download-outline-rounded" />
    <span class="md:text-2xl text-xl font-medium">{t('Resume-6')}</span>
  </button>

</div>
</Base>

<style>
  .resume-content {
    animation: contentFadeIn 0.6s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  }

  @keyframes contentFadeIn {
    0% {
      opacity: 0;
      transform: translateY(0.5rem) scale(0.95);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
</style>

<style is:inline>
  body {
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/print-color-adjust */
    print-color-adjust: exact;
  }
</style>
